* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hdr {
  text-align: center;
  background: #eba729;
  font-family: serif;
  font-weight: bold;
  font-size: 50px;
  color: #222;
  margin-bottom: 70px;
}

.social {
  text-align: center;
  word-spacing: 30px;
  font-size: 20px;
}

.social a {
  text-decoration: none;
  position: static;
  color: #222;

}

.social a:hover {
  text-decoration: underline;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.name {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.ftr {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  color: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #eba729;

}

.ftr a {
  text-decoration: none;
  color: #222;
}

body {
  background-color: #e0dfdf;
}

.container {
  width: 90%;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#new-task {
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

#new-task input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
}

#new-task input:focus {
  outline: none;
  border-color: #eba729;
}

#new-task button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #eba729;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin-top: 3.8em;
  width: 100%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
}

.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

.task button {
  color: #ffffff;
  padding: 0.8em 0;
  width: 2.8em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  background-color: #fb3b3b;
}

.edit {
  background-color: rgb(68, 208, 129);
  margin-left: auto;
  margin-right: 3em;
}

.completed {
  text-decoration: line-through;
}

#new-task button:hover {
  background: rgb(51, 154, 95);
}